@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Archivo:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.aboutUs {

  background-color: #424242;
  padding: 50px 0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

.imgAbout {
  width: 240px;
  height: 54px;

}

.title {
  text-align: center;
  color: #fff;
  font-size: 35px;
  font-family: "Antonio", sans-serif;
  font-style: normal;
  font-weight: 500;
  padding: 30px 0;
}

.containerInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
  gap: 30px;
}
.p{
  font-family: "Antonio", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-size: 1.2rem;
  line-height: 2rem;

}

.Info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 9px;
  padding: 0 20px;
  color: #fff;
  font-weight: 300;
  max-width: 900px;
  margin-bottom: 40px;
  align-items: center;
  text-align: center;
}




.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 50px;
}

.imgContainer p {
  font-weight: 500;
  
}

.imgContainer2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 30px;
}



@media (max-width: 768px) {
  .title {
    font-size: 30px;
    padding: 20px 0;
  }

  .containerInfo {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }

  .Info {
    padding: 5px;
    min-width: 320px;
    gap: 15px;
    text-align: center;
  }

  .imgContainer {
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 20px;
    padding: 5px;
  }

  .imgContainer2 {
    padding: 10px;
    gap: 10px;
  }

  .Info p {
    font-size: 12px;
  }

.p{

  font-size: 1.2rem;
  line-height: 1.2rem;

}






}