@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Archivo:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.container {
  background-color: #000000;
  color: #ffffff;
}

.title {
  text-align: center;
  padding: 2rem 0;
  font-family: "Antonio", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-size: 1.5rem;
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: scroll;


}

.imgContainer img {
  width: 150px;
  height: auto;



}

.containerLinks {
  display: flex;
  gap: 1rem;
  padding: 1rem;

}

.links {
  display: flex;
  flex-direction: column;
  gap: 1rem;

}

.links a {
  color: #ffffff;
  text-decoration: none;
  font-family: "Antonio", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-size: 1rem;

}

.p {

  font-family: "Antonio", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;


}

.powered{
  text-align: center;
  background-color: #808080;
  margin-top: 2rem;
}

@media (min-width: 768px) {
  .title {
    font-size: 2rem;
  }

  .containerLinks {
    display: flex;
    justify-content: center;
    gap: 20rem;
    padding: 2rem 0;
  }

  .links a {

  font-size: 1.1rem;

}

.p {

  font-size: 1.5rem;
 


}

}